html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: #e9f0f5;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
}

.contenedor1 {
    max-width: 1100px;
    margin: 0 auto;
}

.contenedor2 {
    max-width: 1100px;
    margin: 0 auto;
}

h2 {
    flex: 0 1 100%;
    text-align: center;
    font-size: 1.6rem;
}

h3 {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    font-weight: 700;
}

img {
    max-width: 100%;
}


/*HEADER */

.hero {
    background-image: url(../img/hero.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    /*para que la imagen no se repita */
    background-position: center center;
    /*para centrar la imagen horizontal y verticalmente */
    background-size: cover;
    /* para que ocupe el espacio disponible */
    background-attachment: fixed;
    /*Genera el efecto de la imagen fija  */
}

.header {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.barra {
    position: absolute;
    background-color: #008fd1;
    width: 100%;
    padding: 1rem 0;
    top: 10px;
}

@media screen and (min-width:768px) {
    .barra .contenedor {
        flex-direction: row;
        justify-content: space-between;
    }
}

.logo,
.navegacion {
    text-align: center;
}

.navegacion ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:768px) {
    .navegacion {
        flex: 0 0 25rem;
    }
    .navegacion ul {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.logo-img {
    max-width: 15rem;
    max-height: 5rem
}

.header-contenido h1 {
    color: #008fd1;
    font-size: 2rem;
    text-transform: uppercase;
    max-width: 25rem;
}


/*CONTENIDO */

.contenido {
    background-color: white;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.contenido {
    padding: 1rem;
    text-align: center;
}

.contenido h3 {
    text-align: center;
    font-size: .9rem;
    line-height: 1.4rem;
}

.contenido span {
    color: #db008d;
}

.boton {
    background-color: #008fd1;
    color: white;
    padding: .6rem 2rem;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (min-width:480px) {
    .contenido-principal {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .entrada {
        flex: 0 1 calc(50% - 1rem);
    }
}

@media screen and (min-width:768px) {
    .entrada {
        flex: 0 1 calc(33% - 1rem);
    }
}


/* Categorias iconos  */

.categorias ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.categorias ul li {
    flex: 1 0 calc(50%);
    padding: 2rem;
}

@media screen and (min-width:768px) {
    .categorias ul li {
        flex: 1;
    }
}

.categorias ul li:nth-child(1) {
    background-color: #008fd1;
}

.categorias ul li:nth-child(2) {
    background-color: #db008d;
}

.categorias ul li:nth-child(3) {
    background-color: #9800d1;
}

.categorias ul li:nth-child(4) {
    background-color: #eca300;
}

.categorias ul li a {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.categorias ul li i {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.footer {
    background-color: #008fd1;
    padding-top: 1rem;
    color: #ffffffff;
}

.footer h2 {
    text-transform: uppercase;
}

@media screen and (min-width:768px) {
    .footer .contenedor2 {
        display: flex;
        justify-content: space-between;
    }
    .footer .caja {
        flex: 1;
    }
}

.caja {
    text-align: center;
}

.copyright {
    background-color: #004d;
    margin: 2rem 0 0 0;
    padding: 1rem 0;
    text-align: center;
}

.sociales ul li span {
    display: none;
}

.sociales ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*justify-content: flex-end; */
    /* justify-content: center;
  justify-content: space-around; */
    justify-content: space-between;
    flex: 1 0 auto;
    list-style: none;
}

.sociales ul li {
    margin-right: 1rem;
}

.sociales ul li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.sociales ul li a:before {
    font-family: "Font Awesome 5 Brands";
}

.sociales ul li a[href*='facebook.com']::before {
    content: "\f39e";
}

.sociales ul li a[href*='twitter.com']::before {
    content: "\f099";
}

.sociales ul li a[href*='youtube.com']::before {
    content: "\f431";
}

.sociales ul li a[href*='instagram.com']::before {
    content: "\f16d";
}

.sociales ul li a[href*='pinterest.com']::before {
    content: "\f231 ";
}